<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Products</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="product-list">
        {{#each products}}
            <li data-id="{{this.id}}">{{this.title}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <form id="product-form">
        <input type="text" id="title" placeholder="Título" required>
        <input type="text" id="description" placeholder="Descripcion" required>
        <input type="text" id="code" placeholder="Codigo" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="number" id="stock" placeholder="Stock" requiredrequired>
        <input type="text" id="category" placeholder="Categoria" required>
        <input type="text" id="thumbnails" placeholder="Link Imagen" >
        <button type="submit">Agregar Producto</button>
    </form>

    <script>
        const socket = io();


        document.getElementById('product-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const title = document.getElementById('title').value;
            const description = document.getElementById('description').value;
            const code = document.getElementById('code').value;
            const price = document.getElementById('price').value;
            const stock = document.getElementById('stock').value;
            const category = document.getElementById('category').value;
            //const thumbnails = document.getElementById('thumbnails').value;
            let thumbnails = document.getElementById('thumbnails').value;
            thumbnails = thumbnails ? [thumbnails] : [];

            socket.emit('newProduct', { title, description, code, price,stock,category, thumbnails });

            document.getElementById('title').value = '';
            document.getElementById('description').value = '';
            document.getElementById('code').value = '';
            document.getElementById('price').value = '';
            document.getElementById('stock').value = '';
            document.getElementById('category').value = '';
            document.getElementById('thumbnails').value = '';
            
        });


        socket.on('productUpdated', (product) => {
            const productList = document.getElementById('product-list');
            const newProduct = document.createElement('li');
            newProduct.textContent = `${product.title} - ${product.description}- ${product.code}- ${product.price} - ${product.stock}- ${product.category}- ${product.thumbnails}`;
            productList.appendChild(newProduct);
        });


        socket.on('productDeleted', (productId) => {
            const productItem = document.querySelector(`li[data-id="${productId}"]`);
            if (productItem) {
                productItem.remove();
            }
        });
    </script>
</body>
</html>
